<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>CheerpJ test</title>
    <script src="https://cjrtnc.leaningtech.com/3.0/cj3loader.js"></script>
  </head>
  <body>
    <div text-align="center">
    <script>
      (async function () {
        await cheerpjInit();
        cheerpjCreateDisplay(800, 600);
        cheerpjAddStringFile("/files/assignment.circ", "/app/logisim/Assignment.circ");
        await cheerpjRunJar("/app/logisim/logisim.jar");
      })();
    </script>
    </div>
  </body>
</html>